In [1]:
import pandas as pd

In [13]:
n_cols = list(range(11))
data = pd.read_csv("lcuz_200823.dat", header=None, skiprows=6)
data.head(8)

                                                   0
0      1    0   5   2  50    2.212   -0.222   14....
1      2    0   5   3   0    2.094   -0.218   14....
2      3    0   5   3  10    2.075   -0.215   14....
3      4    0   5   3  20    2.114   -0.211   14....
4      5    0   5   3  30    2.099   -0.207   14....
5      6    0   5   3  40    2.086   -0.203   14....
6      7    0   5   3  50    2.129   -0.200   14....
7      8    0   5   4   0    2.141   -0.196   14....